<footer>
  <div class="inner">
    <div class="links">
      {{ for item of footer.links }}
        <a class="menu-link" href="{{ item.url }}">{{ item.text }}</a>
      {{ /for }}
    </div>
    <div class="copy">{{ footer.copy }}. {{ "now" |> date("Y") }}</div>
  </div>
</footer>

<script src="/assets/js/app.js"></script>
