<script type="application/ld+json">
{{ set fullUrl = url |> url(true) }}
{{ set fullUrlImage = img |> url(true) }}
{{- {
   "@context": "https://schema.org",
    "@type": "Person",
    image: fullUrlImage,
    jobTitle: position,
    name: name,
    url: fullUrl,
    telephone: "+81-3-4510-2987",
    fax: "+81-3-4510-2988",
    ...ldPerson
} |> JSON.stringify -}}
</script>

