<!-- Netlify Redirect to Admin Page -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/6E77746E/";
        });
      }
    });
  }
</script>
<!-- / Netlify RAP -->