---
layout: ./base.vto
containerClass: bio
---
<section class="bio" id="bio">
  <div class="inner">
    <h2>{{ title }}</h2>
    <div class="txt">
      {{ bio |> md }}
    </div>
  </div>
</section>
