---
layout: ./base.vto
containerClass: bio
---
<section class="bio" id="bio-view">
  <div class="inner">
    <div class="bio-view-header">
      <img src="{{ it.img }}" alt="{{ title }}" width="600" transform-images="avif webp jpg 600@2">
      <h2 class="new-title">{{ name }}</h2>
      <p>{{ position }}</p>
      <p>{{ short }}</p>
    </div>
    <div class="txt from-markdown">
      {{ bio |> md }}
    </div>
  </div>
</section>
