---
layout: ./base.vto
containerClass: bios
---
<ul>
  {{ for item of search.pages(`type=bio lang=${lang}`) }}
  <li>
    <article>
      <img src="{{ item.img }}" alt="{{ item.name }}" width="200px"><br>
      <strong><a href="{{ item.url }}">{{ item.name }}</a></strong>
      <p>{{ item.title }}</p>
      <p>{{ item.short }}</p>
    </article>
  </li>
  {{ /for }}
</ul>
