---
layout: ./base.vto
containerClass: ceo
---
<section class="ceo" id="ceo">
  <div class="inner">
    <h2 class="">{{ title }}</h2>
    <div class="name new-title">
      {{ name }}
    </div>
    <div class="profile-main">
      {{ content }}
    </div>

  </div>
</section>
