---
layout: ./base.vto
containerClass: terms
---

<section class="terms" id="terms">
  <div class="inner">
    <h2 class="txt-red">{{ content.title }}</h2>
    <div class="txt">
      {{ content.description |> md }}
    </div>
    <a href="{{ '/' |> url }}">
    <button type="button" class="button is-primary is-big">
      {{ content.button.title }}
    </button>
  </a>
  </div>
</section>