---
layout: ./base.vto
containerClass: terms
---

<section class="terms" id="terms">
  <div class="inner">
    <h2 class="txt-rd">{{ content.title }}</h2>
    <div class="txt">
      {{ content.description |> md }}
    </div>
    <nav class="txt-center">
      <a href="{{ content.button.url }}" class="link">
        {{ content.button.title }}
      </a>
    </nav>
  </div>
</section>