---
layout: ./base.vto
containerClass: news
---
<section class="news" id="news-detail">
  <div class="inner">
    <h2>{{ title }}</h2>
    <div class="txt from-markdown">
      {{ content }}
    </div>
  </div>
</section>
