---
layout: ./base.vto
containerClass: terms
---
<section class="terms" id="terms">
  <div class="inner">
    <h2 class="new-title">{{ title }}</h2>
    <div class="txt">
      {{ content }}
    </div>
  </div>
</section>
