---
layout: layouts/terms.vto
id: bio
title: Bio
metas:
  title: Member Biographies
  description: asdf
---

<ul>
  {{ for item of bios }}
  <li>
    <article>
      <img src="{{ item.img }}" alt="{{ item.name }}">
      <h2>{{ item.name }}</h2>
      <p>{{ item.title }}</p>

      <div>
        {{ item.bio |> md }}
      </div>
    </article>
  </li>
  {{ /for }}
</ul>
